@{
    Layout = "CharacterLayout";
}

@model DNDCharacter.Models.Stat

<h2>Are you sure you want to delete this character's stats?</h2>

<h4>Character Name: </h4>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Character Details", "Details", "Characters")