body, html {
    height: 100%;
}

.body-main {
    text-align: left;
    background-color: rgb(189, 156, 73);
    margin-left: 9%;
    margin-top: 2%;
}

.body--campaign-page {
    background-image: url("../img/campaign.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body--character-page {
    background-image: url("../img/character.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7ch;
}

h2 {
    color: darkred;
}

h3 {
    color: rgb(33, 82, 14);
}

h4 {
    color: rgb(6, 61, 6);
}

li {
    font-size: 3ch;
    color: rgb(6, 61, 6);
}

.label {
    color: darkmagenta;
    font-size: 3ch;
}

a.campaign {
    color: rgb(184, 84, 2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3ch;
}

a.character {
    color: rgb(9, 39, 170);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3ch;
}

a.home {
    color: rgb(42, 85, 85);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4ch;
}