.body-main {
    text-align: left;
    background-color: rgb(189, 156, 73);
    margin-left: 9%;
    margin-top: 2%;
    position: fixed;
}

.body--campaign-page {
    background-image: url("../img/campaign.jpg");
    background-position: center;
    background-size: cover;
}

.body--character-page {
    background-image: url("../img/character.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7ch;
}

h2 {
    color: darkred;
}

h3 {
    color: lightgreen;
}

li {
    font-size: 3ch;
}

a.campaign {
    color: rgb(216, 12, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3ch;
}

a.character {
    color: rgb(0, 0, 121);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3ch;
}

a.home {
    color: darkslategray;
}