@{
    Layout = "_Layout";
}

<h1>Welcome to Zanys DND Character Managment</h1>
<h4>@Html.ActionLink("See all campaigns", "Index", "Campaigns", null, new { @class = "campaign" })</h4>
<h4>@Html.ActionLink("See all characters", "Index", "Characters", null, new { @class = "character" })</h4>