@{
    Layout = "_Layout";
}

<h1>Welcome to Zanys DND Character Managment</h1>
<h4>@Html.ActionLink("See all campaigns", "Index", "Campaigns")</h4>
<h4>@Html.ActionLink("See all characters", "Index", "Characters")</h4>